<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "email": "eu(at)entreganewba.com.br",
      "member": [
          {
              "@type": "Organization"
          }
      ],
      "alumni": [
          {
              "@type": "Person",
              "name": "Raul Pestanta"
          },
          {
              "@type": "Person",
              "name": "Lucian Fialho"
          }
      ],
      "name": "Entrega Newba",
  }
</script>
