<form class="form-horizontal newsletter-signup-post">
    <div class="loading-news none">
        <p class="message-news">Aguarde 1 momento, estamos te cadastrando na nossa newsletter...</p>
        <div id="spinner-news" class="sk-spinner sk-spinner-rotating-plane"></div>
    </div>
    <div class="widget style1 red-bg none" id="error-news-alert">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-bell fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <p>Aconteceu algum problema no seu cadastro, favor tentar novamente, entrar em <a href="mailto:contato@metricasboss.com.br">contato</a>.</p>
            </div>
        </div>
    </div>

    <p class="if-success">Está curtindo o post? Assine nossa newsletter <br/>
        e fique por dentro das noticias do mercado de Web Analytics.</p>
        <div class="input-group">
            <div class="col-lg-8">
                <input name="email_address" type="email" class="form-control" placeholder="Seu endereço e-mail">
            </div>
            <div class="col-lg-4">
                <input name="name" type="text" class="form-control" placeholder="Seu nome">
            </div>
            <input name="origin" type="hidden" class="form-control" value="newsletter">
            <span class="input-group-btn"> <button type="submit" class="btn btn-success">Cadastrar!</button> </span>
        </div>
</form>
